.card-button {
  border: none;
  border-radius: 3px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.03);
  transition: background 0.25s;
  color: #fff;
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
}

.card-button:hover {
  background: rgba(255, 255, 255, 0.10);
}

.selected-user-card-button {
  background: rgba(255, 255, 255, 0.10);
}